<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.shiyanchang.business.dao.TSiteMapper">

    <resultMap id="BaseResultMap" type="com.study.shiyanchang.common.entity.po.TSite">
        <!--@Table t_site-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="addr" column="addr" jdbcType="VARCHAR"/>
        <result property="lng" column="lng" jdbcType="NUMERIC"/>
        <result property="lat" column="lat" jdbcType="NUMERIC"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="INTEGER"/>
    </resultMap>

</mapper>